@{
    ViewData["Title"] = "Interview App - Home Page";
}

<div class="text-center">
    <h3 style="font-size:18px;" class="display-4 wellcome">Hi. I am Tan. This is my Interview Application. Click <a asp-controller="Teacher" asp-action="Index">here</a> or view at <a target="_blank" href="https://github.com/thanhtan2602/StepMediaInterviewSolution">git</a> to view detail. Many thanks</h3>
    <img alt="welcome" src="https://media.istockphoto.com/id/1398949111/photo/hello-and-wellcome-written-lightbox-on-yellow-and-blue.jpg?b=1&s=170667a&w=0&k=20&c=w5nnPxsFiAeVN6hh5S2ADCYNeAqYolYWzlG5XZis1lY=" />
</div>
